{block content}

<div class="row">
	<div class="column">

		{snippet wallposts}
			{foreach $wallPosts as $post}
				<div class="row" n:snippet="item-$post->id">
					<div class="large-2 columns small-3">
						{if $post->picture}
						<img src="{$post->picture}">
						{/if}
					</div>
					<div class="large-10 columns">

							{ifset $post->name}
								<h3>{$post->name}</h3>
							{/ifset}

							{ifset $post->message}
								<p>{$post->message} </p>
							{/ifset}


						<ul class="inline-list">
							<li><strong>{$post->type}</strong></li>
							{ifset $post->link}
								<li><a href="{$post->link}">{$post->link}</a></li>
							{/ifset}
							<li><small>{$post->id}</small></li>
							<li><small>{$post->created_time}</small></li>

							<li n:if="$post->status"><a n:href="disablePost! $post->id" class="ajax button alert">disable</a></li>
							<li n:if="!$post->status"><a n:href="enablePost! $post->id" class="ajax button">enable</a></li>

						</ul>
					</div>
				</div>
				<hr>
			{/foreach}
		{/snippet}
	</div>

</div>