{block content}
<h1>Facebook wall</h1>
<a n:href="Import:default">Import</a>

<div n:if="$wallPosts" class="facebook-posts">
	<div n:foreach="$wallPosts as $post" class="post {$post->type}">
		<h3 n:if="$post->name">{$post->name}</h3>
		<img n:if="$post->picture" src="{$post->picture}" />

		<p>
			{if $post->message}{$post->message|truncate:250:'...'}{/if}
			<a href="{$post|fbPostLink}">více</a>
		</p>

	</div>
</div>
