#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;

	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

/* use autoprefixer
https://github.com/ai/autoprefixer
http://jsfiddle.net/simevidas/udyTs/show/light/


div.flash{
	animation:fadeOut 4s;
	animation-fill-mode: forwards;
}

@keyframes fadeOut {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	70% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(2);
		opacity: 0;
		display:none;
	}
}
*/

div.flash{
	-webkit-animation:fadeOut 4s;
	animation:fadeOut 4s;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode: forwards;
	pointer-events: none;
}

@-webkit-keyframes fadeOut {
	0% {
		-webkit-transform:scale(1);
		transform: scale(1);
		opacity: 1;
	}
	70% {
		-webkit-transform:scale(1);
		transform: scale(1);
		opacity: 1;
	}
	100% {
		-webkit-transform:scale(2);
		transform: scale(2);
		opacity: 0;
		display:none;
	}
}

@keyframes fadeOut {
	0% {
		-webkit-transform:scale(1);
		transform: scale(1);
		opacity: 1;
	}
	70% {
		-webkit-transform:scale(1);
		transform: scale(1);
		opacity: 1;
	}
	100% {
		-webkit-transform:scale(2);
		transform: scale(2);
		opacity: 0;
		display:none;
	}
}

/* end autoprefixer */

a[href^="#error:"] {
	background: red;
	color: white;
}

form th, form td {
	vertical-align: top;
	font-weight: normal;
}

form th {
	text-align: right;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}

html.js .jshidden {
	display: none;
}

.brick {
	width: 300px;
	margin: 10px;
	float: left;
}
.brick-container {
	width: 0 auto;
}

.hide {
	display: none !important;
}